:root{
	--white-color:#fff;
	--black-color: #000;
	--text-color: #333;
	--primary-color:#f53f2c;
	--star-gold-color:rgb(255, 206, 62);
	--border-color: #bdbdbd;
	--headerHeight: 120px;
	--heightNav:34px;
	--header-nav-sort-height: 46px;
}

*{
	box-sizing: inherit;
}

html{
	font-size: 62.5%;
	line-height: 1.6rem;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

.grid__row{
	display: flex;
	flex-wrap: wrap;
	margin-left: -5px;
	margin-right: -5px;
}


/* Test */

.grid__column-2{
	padding-left: 5px;
	padding-right: 5px;
	width: 16.6667%;
}

.grid__column-2-4{
	padding-left: 5px;
	padding-right: 5px;
	width:20%;
}
.grid__column-10{
	padding-left: 5px;
	padding-right: 5px;
	width: 83.3334%;
}

/* css pagination */
.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}

.pagination-item {
	margin:0 10px;

}

.pagination-item i {
	font-size: 1.8rem;
}

.pagination-item__link {
	font-size: 2rem;
	font-weight: 300;
	text-decoration: none;
	color:#989398;
	padding:4px 14px;
	border-radius: 2px;

} 

.pagination-item--active .pagination-item__link {
	background-color: var(--primary-color);
	color: var(--white-color);
}

/* margin */
.mt-28{
	margin-top: 28px;
}
/*Modal */
.modal{
	position:fixed;
	display: flex;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	animation: FadeIn linear 0.2s;

}

.modal__overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);


}

.modal__body{
	--showModalLinearfrom:0.7;
	--showModalLinearto:1;
	margin:auto;
	position: relative;
	animation: showModalLinear linear 0.2s;
}
.btn.btn--normal:hover{
	background-color: rgba(0,0,0,0.1);
}

.btn{
	min-width:124px;
	height: 34px;
	background-color: var(--white-color);
	border: none;
	font-size: 1.5rem;
	color: var(--text-color);
	font-weight: 500;
	border-radius: 2px;
	cursor: pointer;
	display:inline-flex;
	justify-content: center;
	align-items: center;

}
.btn.btn-size-s{
	height: 28px;
	min-width: 210px;
	font-size: 1.3rem;
}

.btn.btn--primary{
	background-color: var(--primary-color);
	color: var(--white-color);
}
